<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Loginstore_Payu>
            <version>0.1.0</version>
        </Loginstore_Payu>
    </modules>
    <frontend>
        <routers>
            <payu>
                <use>standard</use>
                <args>
                    <module>Loginstore_Payu</module>
                    <frontName>payu</frontName>
                </args>
            </payu>
        </routers>
        <layout>
            <updates>
                <payu>
                    <file>payu.xml</file>
                </payu>
            </updates>
        </layout>
    </frontend>        
    <global>
        <models>
            <payu>
                <class>Loginstore_Payu_Model</class>
            </payu>
            <payu_adminhtml>
		<class>Loginstore_Payu_Adminhtml_Model</class>
            </payu_adminhtml>
        </models>
        <fieldsets>
            <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
                <check_date>
                    <to_order_payment>*</to_order_payment>
                </check_date>
            </sales_convert_quote_payment>
        </fieldsets>        
        <resources>
            <payu_setup>
                <setup>
                    <module>Loginstore_Payu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payu_setup>
            <payu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payu_write>
            <payu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payu_read>
        </resources>
        <blocks>
            <payu>
                <class>Loginstore_Payu_Block</class>
            </payu>
        </blocks>
        <helpers>
            <payu>
                <class>Loginstore_Payu_Helper</class>
            </payu>
        </helpers>
    </global>
    <default>
        <payment>
            <payu>
                <active>0</active>
                <model>payu/payu</model>
                <order_status>1</order_status>
                <title>Pago Con Tarjeta De Crédito O Débito</title>
                <message>Please enter your credit card information</message>
            </payu>
        </payment>
    </default>
</config>
